@model BlogProject.Models.PostViewModel

@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пост</h2>

@Html.DisplayNameFor(model => model.UserName) -  @Html.DisplayFor(model => model.UserName)
<br />
@Html.DisplayNameFor(model => model.CreateDate) -  @Html.DisplayFor(model => model.CreateDate) <hr/>
@Html.DisplayNameFor(model => model.Title) -  @Html.DisplayFor(model => model.Title)<hr/>
@Html.DisplayNameFor(model => model.Body) -  @Html.DisplayFor(model => model.Body)<hr/>

@Html.ActionLink("Edit", "EditPost", "Post", new { postPageId = Model.Id }, new object()) |
@Html.ActionLink("Delete", "DeletePost", "Post", new { postViewModelId = Model.Id }, new object())
<hr/> <br/> <br/>
<p>Comments:</p>
<hr/>
@{ int count = 0;}
@foreach (var item in Model.Comments)
{
    <div>
        @Model.UsersName[count]
        <br/>
        @item.CreateDate
        <hr/>
        @item.Text
        <br/>
        @Html.ActionLink("Delete", "DeleteComment", "Post", new { postViewModelId = item.Id }, new object())
        <br/>
        @{ count++;}
        <hr/>
        <br/> <br/>
    </div>
}

<div>
    @Html.ActionLink("Create New Comment", "CreateComment", "Post", new { postId = Model.Id }, new object())
</div>


